[user]
[merge]
[core]
	filemode = false
[gui]
[apply]
[alias]
	au = update-index --assume-unchanged
	co = checkout
	cp = cherry-pick
	glt = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	glp = log --pretty=full
	lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr %an)%Creset' --abbrev-commit --date=relative
	nau = update-index --no-assume-unchanged
	rbi = rebase -i
	top = ! $HOME/bin/git-link.sh
	link= ! $HOME/bin/git-link.sh
	upbase = !$HOME/bin/git-upbase.sh
[difftool]
	prompt = false
[color]
	ui = auto
