[alias]
	au = update-index --assume-unchanged
	co = checkout
	cp = cherry-pick
	glt = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	glp = log --pretty=full
	lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr %an)%Creset' --abbrev-commit --date=relative
	nau = update-index --no-assume-unchanged
	rbi = rebase -i
	top = ! $HOME/bin/git-link.sh
	link= ! $HOME/bin/git-link.sh
	upbase = !$HOME/bin/git-upbase.sh
[color]
	ui = auto
[user]
	name = Mark Macdonald
	email = mark.macdonald@gemalto.com
[http]
	sslcainfo = C:/Program Files/Git/mingw64/ssl/certs/ca-bundle.crt
	proxy = http://10.43.216.8:8080
[https]
[url "git@gitlab.sfnt.local:"]
	insteadOf = https://gitlab.sfnt.local/
[core]
	excludesfile = C:/Users/10052628/.gitignore_global
